--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
brax==0.10.4
chex==0.1.86
flax==0.8.5
jax[cuda12_pip]==0.4.28
jaxlib==0.4.28
jumanji==1.0.0
mujoco==3.1.2
mujoco-mjx==3.1.2
natsort==8.2.0
numpy==1.26.4
optax==0.2.2
orbax==0.1.7
qdax==0.4.1
scikit-learn==1.5.1
scipy==1.10.1
typing-extensions==4.3.0
